.all-projects {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 350px;
}

@media screen and (max-width: 960px) {
    .all-projects {
        justify-content: center;
        padding-bottom: 100px;
        flex-direction: column;
        align-items: center;

    }
}