.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }


  .loader-logo {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
    animation: flicker 1s ease-in-out infinite;
    width: 300px;
  }

  .loader-text{
    font-size: 2em;
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
  }
  
  @keyframes flicker {
    0% {
      box-shadow: 0 0 10px 0 rgb(250, 242, 2);
    }
    50% {
      box-shadow: 0 0 20px 10px rgb(249, 253, 2);
    }
    100% {
      box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
    }
  }

  