.scroll-to-top {
    position: fixed;
    z-index: 2;
    cursor: pointer;
    right: 0;
    bottom: 0;
    padding: 10px;
    padding-bottom: 20px;
}

.fa-1x {
    border: 1px solid rgb(251, 255, 0);
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 40px;
    transition: all 0.3s ease-out;
    float: right;
}
