.App {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow: hidden;
  background-color: #14120B;
}

.home {
  position: relative;
  z-index: 2;
  padding-bottom: 200px;
}

.home-me{
  width: 700px;
}

.home-container {
  height: 100%;
}

.home-items {
  display: flex;
  justify-content: space-between;
  height: 155px;
}

.home-logo {
  width: 200px;
}

.home-logo-img {
  width: 100%;
}

.home-nav {
  display: flex;
  align-items: center;
}


.home-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.home-resume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.home-mobile-logo{
  display: none;
}


.home-experience,
.home-skills,
.home-recommandations,
.home-projets,
.home-prestation{
  color: #F5E147;
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  transition: color 300ms, text-shadow 300ms;
  letter-spacing: 1.7px;
  font-family: Coustard, sans-serif ;
}

.home-experience:hover,
.home-skills:hover,
.home-recommandations:hover,
.home-projets:hover,
.home-prestation:hover {
  cursor: pointer;
  color :  #665417;
  opacity: 0.9;
}


.home-presentation {
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1.25;
  color: #ffffffe8;
  margin: 0;
}

.home-hello,
.home-dev {
  font-size: 50px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: Trispace, sans-serif;
  margin: 10px 0;
}

.home-hello{
  font-size: 30px;
}

.home-name {
  font-size: 80px;
  margin: 10px 0;
  font-family: Coustard, sans-serif ;
  margin-left: -3px;
}

.home-text{
  font-family: Coustard, sans-serif ;
}

.home-image {
  display: flex;
  justify-content: center;
}

.home-img {
  width: 300px;
  object-fit: cover;
  margin: 20px;
  border-radius: 50% ;
}


.home-experience,
.home-skills,
.home-recommandations,
.home-projets,
.home-prestation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1668px) {

  .home-presentation {
    font-size: 20px;
  }

}

@media screen and (max-width: 1485px) {

  .home-row {
    justify-content: space-around;
    flex-direction: column;
    height: 800px;
  }

  .home-experience,
  .home-skills,
  .home-recommandations,
  .home-projets,
  .home-prestation,
  .home-contact {
    font-size: 1.2em;
    padding: 10px;
  }

  .home-presentation {
    font-size: 20px;
  }

  .home-container {
    height: 100%;
  }

}



@media screen and (max-width: 1020px) {

  .home-skills,
  .home-projets,
  .home-recommandations,
  .home-experience,
  .home-prestation,
  .home-contact {
    font-size: 1.5em;
    color: yellow;
  }

  .home-img {
    width: 250px;
  }


  .hamburger-btn {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #665417;
  }

  .hamburger-btn.menu-open{
    position: fixed;
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #665417;
    display: block;
    margin: 1px auto;
    border-radius: 3px;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }

  .menu-open .burger-bar::before {
    transform: rotate(45deg)
  }

  .menu-open .burger-bar::after {
    transform: rotate(-45deg);
  }

  .menu-open .burger-bar {
    transform: rotate(360deg);
  }

  .menu-open .burger-bar {
    background-color: transparent;
  }


  .hamburger-btn .burger-bar {
    transition: all 0.3s ease-in-out;
  }


  .home-nav {
    background-color: #2D2305;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    animation: slideIn 1s ease-in-out;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  

  .home-mobile-logo{
    display: block;
  }

  .home-mobile-img{
    width: 200px;
  }

  .home-experience,
  .home-skills,
  .home-projets,
  .home-recommandations,
  .home-prestation,
  .home-contact {
    font-size: 1.5em;
    width: 100%;
    text-decoration: none;
    color: white;
  }

  .menu-open .home-nav {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 50px;
    position: fixed;
    right: 0;
    justify-content: space-evenly;
  }


  .home-resume {
    flex-direction: column;
    width: 100%;
    margin-top: 0;
  }

.home{
  padding-bottom: 100px;
}

  .home-image {
    margin-bottom: 50px;
  }



  .home-me{
    width: 90%;
    margin: 50px;
  }
}

@media screen and (max-width: 950px) {

  .home-resume {
    width: 97%;
    box-shadow: none;
  }
}

@media screen and (max-width: 445px) {

  .home-presentation,
  .presentation-word {
    font-size: 20px;
  }

  .home-name{
    font-size: 60px;
  }

  .contact-info {
    font-size: 14px !important;
  }

  .home-image {
    width: 600px;
  }
}

@media screen and (max-width: 380px) {
  .home-logo {
    width: 120px;
  }

  .home-dev{
    font-size: 45px;
  
  }

}

@media screen and (max-width: 320px) {


  .home-content {
    margin: 10px;
  }


  .home-me {
    width: 90%;
  }
}