.App {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow: hidden;
  background-color: #000000;

}

.home {
  position: relative;
  z-index: 2;
  padding-bottom: 200px;
}

.home-container {
  height: 100%;
}

.home-items {
  display: flex;
  justify-content: space-between;
  height: 155px;
}

.home-logo{
  width: 200px;
}

.home-logo-img {
  width: 100%;
}

.home-nav{
  display: flex;
  align-items: center;
}

.home-me {
  width: 50%;
}

.home-menu {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.home-resume {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 100%;
}


.home-experience,
.home-skills,
.home-projets,
.home-formations,
.home-prestation,
.home-contact {
  position: relative;
  font-size: 1.5em;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-decoration: none;
}

.home-experience:hover,
.home-skills:hover,
.home-projets:hover,
.home-formations:hover,
.home-prestation:hover,
.home-contact:hover {
  color: #fff;
  text-shadow: 1px 1px 2px rgb(238, 255, 0), 0 0 1em rgb(238, 255, 0);
  cursor: pointer;
}


.home-presentation {
  -webkit-text-stroke: 1px #fff;
  color: #edff04e8;;
}

.presentation-word {
  font-size: 1.2em;
  font-weight: 500;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-decoration: none;
}

.home-image {
  display: flex;
  justify-content: center;
}

.home-img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  margin: 20px;
}


.home-experience,
.home-skills,
.home-projets,
.home-formations,
.home-prestation,
.home-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 1668px) {

  .home-presentation {
    font-size: 20px;
  }

}

@media screen and (max-width: 1485px) {

  .home-row {
    justify-content: space-around;
    flex-direction: column;
    height: 800px;
  }

  .home-experience,
  .home-skills,
  .home-projets,
  .home-formations,
  .home-prestation,
  .home-contact {
    font-size: 1.2em;
    padding: 10px;
  }

  .home-me {
    width: 100%;
  }


  .home-presentation {
    font-size: 20px;
  }

  .home-container {
    height: 100%;
  }

}

@media screen and (max-width: 950px) {

  .home-resume {
    width: 97%;
    box-shadow: none;
  }


}

@media screen and (max-width: 900px) {

  .home-formations,
  .home-skills,
  .home-projets,
  .home-experience,
  .home-prestation,
  .home-contact {
    font-size: 1.5em;
  }

  .home-logo {
    width: 170px;
  }

  .hamburger-btn {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
  }

  .burger-bar,
  .burger-bar::before,
  .burger-bar::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 1px auto;
    border-radius: 3px;
  }

  .burger-bar::before {
    transform: translateY(-12px);
  }

  .burger-bar::after {
    transform: translateY(12px);
  }

  .menu-open .burger-bar::before {
    transform: rotate(45deg)
  }

  .menu-open .burger-bar::after {
    transform: rotate(-45deg);
  }

  .menu-open .burger-bar {
    transform: rotate(360deg);
  }

  .menu-open .burger-bar{
    background-color: transparent;
  }


  .hamburger-btn .burger-bar {
  transition: all 0.3s ease-in-out;
}


  .home-nav {
    background-color: #0d0d0d;
    display: none;
    flex-direction: column;
    padding: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    border-radius: 5px;
    animation: slideIn 1s ease-in-out;
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .home-experience,
  .home-skills,
  .home-projets,
  .home-formations,
  .home-prestation,
  .home-contact {
    width: 20%;
    text-decoration: none;
    color: #333;
  }

  .menu-open .home-nav {
    display: flex;
    align-items: center;
    height: 300px;
    padding-top: 50px;

  }

  .menu-open.home-items {
    opacity: 0.9;
  }


  .home-resume{
    flex-direction: column;
    width: 100%;
  }

  .home-image{
    width: 700px
  }

  .home-img,
  .home-me{
    width: 50%;
  }
}

@media screen and (max-width: 600px) {


  .home-me{
    width: 70%;
  }


}

@media screen and (max-width: 500px) {


}

@media screen and (max-width: 445px) {

  .home-presentation,
  .presentation-word {
    font-size: 20px;
  }

  .home-me{
    width: 80%;
  }

  .home-image {
    width: 600px;
  }
}

@media screen and (max-width: 320px) {


  .home-content {
    margin: 10px;
  }


  .home-me{
    width: 90%;
  }
}