.recommandations{
    width: 70%;
    margin: 0 auto;
}

.recommandations-titles{
    margin-bottom: 50px;
}

.recommandations-swiper{
    margin-top: 50px;
    margin-bottom: 50px;
}

.recommandations-title{
    text-align: center;
    font-size: 3em;
    color: #F5E147;
}

.recommandations-image{
    text-align: center;
    margin-bottom: 50px;
}

.swiper-button-prev.swiper-button-prev{
    color: #F5E147;
}

.swiper-button-next.swiper-button-next{
    color: #F5E147;
}

.swiper-pagination-bullet.swiper-pagination-bullet{
    background-color: #ffc400;
    width: 15px;
    height: 15px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #F5E147;
}

@media screen and (max-width: 920px) {

    .recommandations{
        width: 98%;
    }
    .recommandations-img{
        width: 100%;
        max-width: 1000px;
    
    }
    
}

@media screen and (max-width: 480px) {

    .recommandations-title{
        font-size: 2.5em;
    }
    
}

@media screen and (max-width: 390px) {

    .recommandations-title{
        font-size: 2em;
    }
    
}