.fa-2x {
    font-size: 25px;
    transition: all 0.3s ease-out;
    color: white;
  }

  .contact-info {
    font-size: 20px;
    color: white;
    font-family: Coustard, sans-serif ;
    text-decoration: none;
  }

  a {
  display: inline-block;
  text-decoration: none;
}

.home-contact-info{
    border: 1px solid #524202;
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .home-contact-info:hover {
    background-color: #362B00;
    cursor: pointer;
  }
  
  .contact-envelope,
  .contact-phone,
  .contact-git,
  .contact-linkdin {
      display: inline-block;
      margin-right: 10px;
    }