.prestation-main {
    position: relative;
    z-index: 5;
    padding-bottom: 100px;
}

.prestation-title {
    position: relative;
    z-index: 6;
    text-align: center;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(233, 249, 8), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 246, 0);
}

.prestation-table {
    margin: 0 auto;
    width: 65%;
    position: relative;
    z-index: 5;
}

.prestation-container {
    color: #fff;
    border: 4px solid #ffffff;
}

.prestation-web,
.prestation-whyme {
  padding: 20px;
  }

.prestation-whyme-subtitle{
  padding-top: 30px;
}

.prestation-web-subtitle,
.prestation-whyme-subtitle {
  font-size: 2em;
    color: #ffffff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -3px 2px rgb(5, 5, 5), 0 0 0.2em rgb(212, 255, 0), 0 0 0em rgb(61, 63, 6);
    margin: 0;
}

.prestation-services {
    display: flex;
    justify-content: center;
}

.prestation-services-subtitle {
    border: 2px solid #ffffff;
    color: #ffffff;
    text-shadow: 1px -3px 2px rgb(5, 5, 5), 0 0 0.2em rgb(212, 255, 0), 0 0 0em rgb(61, 63, 6);
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.prestation-section {
    display: flex;
}

.prestation-design,
.prestation-performances,
.prestation-follow {
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    margin: 10px;
    padding: 5px;
}

.prestation-design-title,
.prestation-performances-title,
.prestation-follow-title {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -3px 2px rgb(5, 5, 5), 0 0 0.2em rgb(212, 255, 0), 0 0 0em rgb(61, 63, 6);
    text-decoration: underline;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.prestation-web-text,
.prestation-whyme-text {
    font-size: 20px;
}

.prestation-design-text,
.prestation-performances-text,
.prestation-follow-text {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin: 10px;
}

.line1.appear {
    width: 3px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    animation: line1-appear 2s ease-in-out forwards;
}

.line2.appear {
    width: 67%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: line2-appear 2s ease-in-out forwards;
}

.line3.appear,
.line4.appear,
.line5.appear {
    width: 3px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    animation: line-appear 2s ease-in-out forwards;
}

.lines {
    display: flex;
    justify-content: space-around;
}

@keyframes line1-appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes line2-appear {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 3px;
    }
  }
  
  @keyframes line-appear {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 40px;
    }
  }

  .prestation-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .prestation-contact-text {
    font-size: 20px;
    color: #ffffff;
    margin: 10px;
  }

  .prestation-contact-btn {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50px;
    margin-top: 10px;
    border: 2px solid #ffffff;
    transition: color 300ms, background-color 300ms;
  }

  .prestation-contact-btn:hover {
    cursor: pointer;
    color: yellow;
    background-color: #000000;
  }



  @media screen and (max-width: 1450px) {
    .prestation-table {
        width: 80%;
    }
  }

  @media screen and (max-width: 1260px) {

    .prestation-section {
        flex-direction: column;
    }

    .line1,
    .line2,
    .line3,
    .line4,
    .line5 {
        display: none;
    }

    .prestation-services{
      padding-top: 50px;
    }
  }

  @media screen and (max-width: 760px) {
    .prestation-table {
        width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .prestation-contact-title,
    .prestation-contact-text {
        text-align: center;
    }

    .prestation-whyme-subtitle {
        padding-top: 0;
    }

    .prestation-services{
        padding-top: 0;
    }

    .prestation-web-subtitle,
    .prestation-whyme-subtitle {
        font-size: 1.5em;
    }

    .prestation-services-subtitle {
        font-size: 1.8em;
    }

    .prestation-design-title,
    .prestation-performances-title,
    .prestation-follow-title {
        font-size: 1.5em;
    }

    .prestation-web-text,
    .prestation-whyme-text {
        font-size: 18px;
    }

    .prestation-design-text,
    .prestation-performances-text,
    .prestation-follow-text {
        font-size: 18px;
    }
  }

  @media screen and (max-width: 460px) {
    .prestation-title{
      font-size: 2.5em;
    }
  }


  

  