.prestation-main {
    position: relative;
    z-index: 5;
    padding-bottom: 100px;
}

.prestation-title {
    position: relative;
    z-index: 6;
    text-align: center;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
}

.prestation-table {
    margin: 0 auto;
    width: 65%;
    position: relative;
    z-index: 5;
}

.prestation-container {
    padding: 20px;
    color: #fff;
    border: 4px solid #ffffff;
    box-shadow: 0 2vw 10vw -30px #1f1ccd;
}

.prestation-web-subtitle,
.prestation-whyme-subtitle {
    font-size: 30px;
    color: #ffffff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    margin: 0;
}

.prestation-services {
    display: flex;
    justify-content: center;
}

.prestation-services-subtitle {
    border: 2px solid #ffffff;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.prestation-section {
    display: flex;
}

.prestation-design,
.prestation-performances,
.prestation-follow {
    display: flex;
    flex-direction: column;
    border: 2px solid #ffffff;
    margin: 10px;
    padding: 5px;
}

.prestation-design-title,
.prestation-performances-title,
.prestation-follow-title {
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(110, 13, 139), 0 0 1em blue, 0 0 0.2em blue;
    text-decoration: underline;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 10px;
}

.prestation-web-text,
.prestation-whyme-text {
    font-size: 17px;
}

.prestation-design-text,
.prestation-performances-text,
.prestation-follow-text {
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    margin: 10px;
}

.line1.appear {
    width: 3px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    animation: line1-appear 2s ease-in-out forwards;
}

.line2.appear {
    width: 67%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: line2-appear 2s ease-in-out forwards;
}

.line3.appear,
.line4.appear,
.line5.appear {
    width: 3px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    animation: line-appear 2s ease-in-out forwards;
}

.lines {
    display: flex;
    justify-content: space-around;
}

@keyframes line1-appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes line2-appear {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 3px;
    }
  }
  
  @keyframes line-appear {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 40px;
    }
  }

  @media screen and (max-width: 1450px) {
    .prestation-table {
        width: 80%;
    }
  }

  @media screen and (max-width: 1260px) {

    .prestation-section {
        flex-direction: column;
    }

  }

  

  