.experience-main {
    position: relative;
    z-index: 5;
    padding-bottom: 150px;
}


.experience-container-title {
    margin-top: 0;
    position: relative;
    text-align: center;
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 1px -5px 2px rgb(233, 249, 8), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 246, 0);
}

.experience-container {
    display: flex;
    justify-content: center;
}

.experience-left {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.experience-stage {
    margin-bottom: 180px;
    transition: color 300ms, text-shadow 300ms;
}

.experience-stage:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(238, 255, 0), 0 0 1em rgb(238, 255, 0);
    cursor: pointer;
}

.experience-right {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.experience-mission {
    margin-top: 165px;
    transition: color 300ms, text-shadow 300ms;
}

.experience-mission:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(238, 255, 0), 0 0 1em rgb(238, 255, 0);
    cursor: pointer;
}

.experience-bus {
    margin-top: 180px;
    transition: color 300ms, text-shadow 300ms;
}

.experience-bus:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(238, 255, 0), 0 0 1em rgb(238, 255, 0);
    cursor: pointer;
}

.experience-bus-date {
    display: flex;
    flex-direction: column;
}


.experience-oclock{
    transition: color 300ms, text-shadow 300ms;
}

.experience-oclock:hover {
    color: #fff;
    text-shadow: 1px 1px 2px rgb(238, 255, 0), 0 0 1em rgb(238, 255, 0);
    cursor: pointer;
}

.experience-oclock-title{
    text-align: end;
}

.experience-stage-date,
.experience-oclock-date {
    text-align: end;
}

.stage-year,
.mission-year,
.oclock-year {
    margin: 0;
}

.stage-date,
.mission-date,
.oclock-date,
.bus-date {
    margin-bottom: 0;
}

.experience-line-middle.display {
    width: 3px;
    height: 650px;
    background-color: rgb(255, 255, 255);
    animation: line-display 5s ease-in-out forwards;
}

@keyframes line-display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.experience-stage-container-line,
.experience-oclock-container-line {
    display: flex;
    justify-content: end;
}

.experience-stage-line.display,
.experience-oclock-line.display,
.experience-mission-line.display {
    width: 200px;
    height: 3px;
    background-color: #fffc44;
    animation: line-display 2s ease-in-out forwards;
}

.experience-bus-line.display {
    width: 130px;
    height: 3px;
    background-color: #fffc44;
    animation: line-display 2s ease-in-out forwards;
}

@keyframes line-display {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.experience-right {
    display: flex;
    flex-direction: column;
}